<div style="background:red;padding:10px;">
    <a href="/dashboard" style="color:white; margin-right:15px;">Dashboard</a>
    <a href="/register" style="color:white;margin-right:15px;">Register</a>
    <a href="/request" style="color:white;margin-right:15px;">Add Request</a>
    <a href="/add" style="color:white; margin-right:15px;">Add new user</a>
    <a href="/admin" style="color:white; margin-right:15px;">Admin Login</a>
    <a href="/logout" style="color:white;margin-right:15px;">Logout</a>
</div>