<html>
<head>
    <title>User List</title>
</head>
<body>
    {% include"navbar.html" %}
    <h2>Username</h2>
    <a href="/add">Add New User</a>
    <table border="1" cellpadding="8">
        <tr>
            <th>Sr.No</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
        </tr>
        {% endfor %}
    </table>    
</body>
<html>